librosa==0.5.1
pydub==0.20.0
tqdm==4.17.1

dash==0.18.3  # The core dash backend
dash-renderer==0.11.0  # The dash front-end
dash-html-components==0.8.0  # HTML components
dash-core-components==0.13.0
plotly==2.0.16

pyglet==1.2.4
