#slideImg {
	width: 795px;
	height: 600px;
}

#ImgMusicMap {
	width: 795px;
	height: 180px;
}

#backgroundMusicMap {
	height: 600px;
	/*top: -795px;*/
	z-index: 2;
}

.MusicMap {
	width: 795px;
	margin-top: 15px;
	margin-bottom : 15px;
}

.AudioDot {
	/*background: #6699FF center;*/
	background: #FFFFFF center;
	border: 1px solid #909090;
	border-radius: 30px;
	/*border-color: #000000;*/
	width: 15px;
	height: 15px;
	position: absolute;
	opacity: 0.8;
	z-index: 3;
}

.TitleSong {
	background: #BABABA;
	width: 100px;
	height: 30px;
	opacity: 0.7;
	z-index: 4;
	text-align: center;
	font-weight: normal;
	display: none;
}